<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
      
      
 AbsoluteUri : http://testsqlsessionstate-dev-v2.apps.sdp.dubaided.gov.ae:61665/default.aspx 
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>

    <machineKey validationKey="B6B606C7B543FEC03BAC5BB21B3AEC9DAAD46B68B83F47BE248D25051CF7999AB96CF7872AD26AA221B87ED71F48045392F1C54EA4B2F0A4E6F2F553299BFE9E" decryptionKey="CF52A66FEE0F818D8DC68F6BCD7E46B49A641DE65AB1D245E85E94A3F350768E" validation="SHA1" decryption="AES" />
    
    <sessionState

      allowCustomSqlDatabase="true" 

      mode="SQLServer" 
      sqlConnectionString="MSSQLSessionStateServerXXXXXXXXXXXX;Database=tl_aspstate_eservices;User ID=UserIDXXXXXX;Password=passwordXXXXX" 
      timeout="20"/>
  </system.web>
</configuration>